---
export const prerender = false; 
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GalaxyIO</title>
    <script type="module" crossorigin src="/src/assets/game/game.js"></script>
  </head>
  <body>
  </body>
</html>
