<div class="logo-container">
  <a href="/">
    <img src="/images/logo_galaxy.png" alt="Galaxy IO Logo" class="logo-img" />
  </a>
</div>

<style>
.logo-container {
    position: absolute; /* Permite posicionamiento libre */
    top: 4%; /* Lo coloca un poco arriba */
    left: 50%;
    transform: translateX(-50%); /* Centra horizontalmente */
    width: 120px; /* Ajusta el tamaño del logo */
  }
  
  .logo-img {
    width: 100%; /* Se adapta al contenedor */
    height: auto;
  }
</style>